a{
    color:black !important;
}
.margin-bottom-15{
    margin-bottom:15px;
}
.heading{
    text-align:center;
}
.question-list{
    border: 1px solid grey;
    padding : 15px; 
    margin : 10px ;
}
.question-list h4{
    margin :0;
    padding: 0;
}
.question-list a , .question-title {
    font-size:18px;
    text-decoration:none;
    color : black !important;
}
.answer-wrapper{
    border-bottom: 1px solid grey;
    margin-bottom :10px;
    padding :5px;
}
.my-question,.my-answer{
    display:flex;
    justify-content: space-between;
}
.margin-right-15{
    margin-right:15px;
}
